# Node
node_modules/
dist/
.vite/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/

# Build
build/